<mat-card class="example-card">
  <mat-card-header class="example-header" style="padding-left: 40%">
    <h2><span></span>RAM LEELA</h2>
  </mat-card-header>
  <mat-card-content>
    <img [src]="Imagepath" style="width: 600px; height: 400px;border-radius:10px;" />
  </mat-card-content>
  <button type="button" class="btn btn-sm btn-success">
    <span class="material-icons" (click)="incrementLikes()"> thumb_up </span>
  </button>
  &nbsp;&nbsp;{{ likes }}
  <button type="button" class="btn btn-sm btn-success">
    <span class="material-icons" (click)="incrementDislikes()">
      thumb_down
    </span>
  </button>
  &nbsp;&nbsp;{{ dislikes }}
  <i>Rating</i>
  <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
</mat-card>
<br />
